.navbar-menu {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    color: #777;
    cursor: pointer;

    &.active {
      color: #0275d8;
    }

    &:hover {
      color: #25681c;
    }
  }

  div {
    margin-left: auto;

    span {
      font-weight: 800;
      color: #25681c;
      span {
      color: black;
      }
    }
  }
}
