<nav class="navbar-menu">
  <img src="/favicon.ico">
  <a routerLinkActive="active" routerLink="/private/dashboard" title="Ir a Dashboard">Dashboard</a>
  <a routerLinkActive="active" routerLink="/private/galeria" title="Ir a Galería">Galería</a>
  <a routerLinkActive="active" routerLink="/private/crud" title="Ir a CRUD">CRUD</a>
  <a routerLinkActive="active" routerLink="/private/profile" title="Ir a Profile">Profile</a>
  <div>
    <span>Usuario: <span>{{username}}</span></span>
    <a (click)="logout()" title="Salir de la aplicación">Logout</a>
  </div>
</nav>
