<div class="modal-overlay" *ngIf="isEditingUser">

  <div class="modal-content">
    <h2 id="form-title">Edit User</h2>
    <form id="user-form" (ngSubmit)="save($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" required [value]="user?.name" (input)="changeName($event)">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" required [value]="user?.email" (input)="changeEmail($event)">
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone" [value]="user?.phone" (input)="changePhone($event)">
      </div>

      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" id="website" [value]="user?.website" (input)="changeWebsite($event)">
      </div>

      <div class="form-group buttons">
        <button type="submit" class="btn btn-primary" id="save-btn">
          Save User
        </button>
        <button type="button" class="btn btn-primary-outline" id="reset-btn" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-primary-outline" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
