<div class="container">
  <div class="userpassword-box">
    <p>Username: curso</p>
    <p>Password: angular</p>
  </div>

  <div class="login-box">
    <h1>Login</h1>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="isLoading" class="loading">Cargando...</div>
    <form (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="dataLogin.username"
          required
          (input)="onChangeField()"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="dataLogin.password"
          required
          (input)="onChangeField()"
        />
      </div>
      <button type="submit" class="btn" [disabled]="isLoading">Login</button>
    </form>
  </div>
</div>
